/* Default styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    
}
  
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
}

.flex-image {
    max-width: 30%;
    height: auto;
}

.image-boxed {
    padding: 4.25em 2em 4em;
    width:  30vw;
    height: auto;
}

.image-boxed-contact {
    width:  24px;
    height: 24px;
    margin-right: 1em;
}

.image-box {
    overflow: hidden;
}

.footer_box {
    width:100vw;
    height: 4em;
    justify-content: center;
    align-items: center;
    background-color: #5d4630;
    color: white;
}

.footer_text {
    font-size:16px;
    align-content: center;
}

.top_link {
    width: 4em;
    height: 4em;
    background-color: #5d4630;
    margin-right:10rem;
    border-radius: 30%;
}

.section1_bar img {
    width: 50vw;
    height: auto;
}

/* Media queries for responsive layout */

@media (max-width: 2960px) {
    .section1_bar img {
        width: 20em;
        height: auto;
    }

    .section2_photo {
        margin-top: 2em;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .image-boxed {
        padding: 4.25em 2em 4em;
        width:  75vw;
        height: auto;
    }

    .section1_bar img {
        width: 50vw;
        height: auto;
    }

    .section2_photo img {
        width: 50vw;
        height: auto;
        float: right;
    }

    .section2_content {
        flex-wrap: wrap;
    }

    .section2_photo {
        margin-top: 2em;
    }
}
  
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .footer_text {
        font-size: 12px;
    }

    .image-boxed {
        padding: 2.25em 2em 4em;
        width:  90vw;
        height: auto;
    }
    
    .image-boxed-contact {
        width:  16px;
        height: 16px;
        margin-right: 0.4em;
    }

    .top_link {
        margin-right:2rem;

    }

    .section1_bar img {
        width: 60vw;
        height: auto;
    }

    .section2_photo img {
        width: 34vw;
        height: auto;
        float: right;
    }

    .link_up {
        position: relative;
        transform: translateX(60%) translateY(-100%) !important;
    }

    .section2_content {
        flex-wrap: wrap;
    }

    .servicios div a {
        font-size: 1em;
    }
}


.translucent-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15); /* Use rgba with an alpha value (0.5 in this case) for transparency */
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.section1 {
    position: relative;
    background-image: url("img/section1.png");
    width:  100vw;
    height: 30em;
    background-color: #5d4630;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
}

.section1_text {
    color: white;
    font-weight: bold;
    width:  45vw;
    line-height: 1.5em;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
    flex-wrap: wrap;
}

.section1_bar { 
    color: white;
    width: 100vw;
    height: 8em;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    display: flex;
    padding-top: 8em;
}

.section1_bar img { 
    z-index: 1;
}


.section1_link {
    background-color: #5d4630;
    width: 10em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1_link a {
    color: white;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: underline;
}


.section2 {
    background-color: #a0a186;
    color: white;
}

.section2_content {
    display: flex;
}

.section2_content div h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section2_photo {
    width: 30em;
    height: auto;
}

.section2_photo img {
    color: white;
    width: 20em;
    height: 100%;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    float: right;
}


.section_servicios {
    position: relative;
    width:  100vw;
    background-image: url("img/section3.png");
    background-color: #5d4630;
    background-size: cover;
    background-position: center;
    padding-bottom: 4em;
}

.section_clientes span {
    color: white;
    font-weight: bold;
    width: 40vw;
    line-height: 1.4em;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
}

.section_clientes_bar { 
    height: 5em;
    padding-left: 5em;
    display:flex;
    align-items: center;
    justify-content: left;  
}

.section_clientes_bar h2 { 
    color: #5d4630;
    font-weight: bold;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
}

.servicios {
    position: relative;
    background-color: white;
    border: solid 0px;
    border-radius: 20%;
    width:  26em;
    height:  27em;
    padding: 0.25em 2.5em 1em;
    margin: 4em 2em 4em;
    font-size: 0.8em !important;
}

.section_servicios_bar { 
    z-index: 1;
    height: 5em;
    padding-left: 5em;
    display:flex;
    align-items: center;
    justify-content: left;  
}

.section_servicios_bar h2 { 
    z-index: 1;
    color:white;
    font-weight: bold;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
}

.servicios .title {
    color: #5d4630;
    padding: 1em 1.8em 1em;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
}

.servicios div {
    font-size: 0.9em;
}

.servicios div a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.servicios_box {
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%)  translateY(50%);
}

.beige-box {
    background-color: #d1beaf;
    border-radius: 30px;
    width:   14em;
    height:  3em;
    text-align: center;
}

.beige-box a {
    color: #5d4630;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100%;
    text-decoration: none;
    text-align: center;
}

.green-box {
    background-color: #a0a186;
    border-radius: 30px;
    width:   14em;
    height:  3em;
    text-align: center;
}

.green-box a {
    color: #5d4630;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100%;
    text-decoration: none;
    text-align: center;
}


.yellow-box {
    background-color: #cfb778;
    border-radius: 30px;
    width:   14em;
    height:  3em;
    text-align: center;
}

.yellow-box a {
    color: #5d4630;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100%;
    text-decoration: none;
    text-align: center;
}


.section4 {
    background-color: white;
    width:  100vw;
}

.section4_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section4_bar_primary{
    height: 5em;
    background-color: #a0a186;
    display:flex;
    align-items: center;
    justify-content: center;  
    color: white;
}

.section4_bar_secondary { 
    height: 5em;
    background-color: #d1beaf;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.section4_bar_tertiary { 
    height: 5em;
    background-color: #cfb778;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.section4_bar h2 { 
    color: white;
    font-weight: bold;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
    margin-bottom: 0px !important;
}

.section5 {
    background-color: white;
    width:  100vw;
    display: flex;
    flex-direction: column;
    justify-content : center;
}

.section5_bar { 
    color: #5d4630;
    height: 5em;
    padding-left: 5em;
    display:flex;
    align-items: center;
    justify-content: left;  
}

.section5_clients_row {
    display: flex;
    flex-direction: column;
}

.section5_clientes img {
    width: 3em;
    height: 5em;

}

.section5_clients_cell {
    flex-grow: 2;
}


.section5_clientes {
    display: inline-flex;
    margin: 0em 2em 2em;
    justify-content: top;
    text-align: justify;
    
}

.section5_clientes div {
    color: #5d4630;
    font-size: 0.95rem;
    line-height: 1.3em;
    padding: 1em 0.82rem 1em;
}

.section5_clientes div p{
    font-weight: 800;
}

.section6 {
    background-color: #a68a80;
    color: #fcf5eb;
    width:  100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6_text{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.box_link {
    border: 0px #fcf5eb solid;
    box-sizing: border-box;
    border-color: #fcf5eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_up {
    position: relative;
    transform: translateY(-200%);   
}

.section6 a {
    color: #fcf5eb;
    font-weight: 600;
}

.section_title {
    padding-top: 4em; 
    padding-bottom: 1em
}

.section_contact {
    background-color: #f4ebe4;
    width:  100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    display: grid;
}

.text-justify {
    display: inline-block; 
    text-align: justify;
}

.section_contact_bar { 
    background-color: #a0a186;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    align-self: center;
    margin-bottom: 2em;
}

.section_contact_bar p img {
    padding-right: 0.5em;
}

.section_contact_bar p a, .section_contact_bar a {
    color: white;
}

.section_visibility {
    color:#fcf5eb;
    background-color: #cdad7d;
    padding: 0em 0em 2em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}