/* Default styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    
}
  
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
}

.flex-image {
    max-width: 30%;
    height: auto;
}

.image-boxed {
    padding: 4.25em 2em 4em;
    width:  30vw;
    height: auto;
}

.image-boxed-contact {
    width:  24px;
    height: 24px;
    margin-right: 1em;
}

.image-box {
    overflow: hidden;
}

.footer_box {
    width:100vw;
    height: 4em;
    justify-content: center;
    align-items: center;
    background-color: #5d4630;
    color: white;
}

.footer_text {
    font-size:16px;
    align-content: center;
}

.top_link {
    width: 4em;
    height: 4em;
    background-color: #5d4630;
    margin: 2em 0em 2em;
    margin-right:10rem;
}

/* Media queries for responsive layout */

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .image-boxed {
        padding: 4.25em 2em 4em;
        width:  75vw;
        height: auto;
    }
}
  
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .footer_text {
        font-size: 12px;
    }

    .image-boxed {
        padding: 2.25em 2em 4em;
        width:  90vw;
        height: auto;
    }
    
    .image-boxed-contact {
        width:  16px;
        height: 16px;
        margin-right: 1em;
    }

    .top_link {
        margin-right:2rem;

    }
}

.section1 {
    background-image: url("img/section1.png");
    width:  100vw;
    height: 30em;
    background-color: #5d4630;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
}

.section1_text {
    color: white;
    font-weight: bold;
    width:  45vw;
    line-height: 1.5em;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
    flex-wrap: wrap;
}

.section1_bar { 
    color: white;
    background-color: #5d463099;
    width: 100vw;
    height: 6em;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.logo {
    color: white;
    background-image: url("img/logo.svg");
    background-size: cover;
    background-position: center;
    width: 14em;
    height: 5em;
    fill: white;
  }

.section1_bar img {
    height: 70%;
}

.section1_link {
    background-color: #5d4630;
    /*margin-left: 50%;*/
    width: 10em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1_link a {
    color: white;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: underline;
}



.section2 {
    background-color: #f4f1ec;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section2 div p {
    color: #5d4630;
    font-weight: bold;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
}

.section2 div {
    color: #5d4630;
    font-weight: bold;
    line-height: 1.4em;
    padding: 1em 3rem 1rem;
}


.section2 img {
    
    height: 35vh;
    padding: 2em 2em 2em 2em;
}

.section2_photo {
    width:100vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}




.section3 {
    width:  100vw;
    background-image: url("img/section3.png");
    background-color: #5d4630;
    background-size: cover;
    background-position: center;
    padding-bottom: 4em;
}

.section3 span {
    color: white;
    font-weight: bold;
    width: 40vw;
    line-height: 1.4em;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
}

.section3_bar { 
    background-color: #5d4630;
    height: 5em;
    padding-left: 5em;
    display:flex;
    align-items: center;
    justify-content: left;  
}

.section3_bar h2 { 
    color:white;
    font-weight: bold;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
}

.servicios {
    background-image: url("img/servicio_template.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:  26em;
    height:  30em;
    padding: 0.25em 2.5em 1em;
    margin: 4em 2em 4em;
    font-size: 0.8em !important;
    justify-content: center;
    align-content: center;
}

.servicios .title {
    color: #5d4630;
    padding: 1em 1.8em 1em;
    font-size: 1.4em;
    font-weight: 600;
}

.servicios a {
    font-size: 0.7em;
    color: #5d4630;
}

.white-box {
    background-image: url("img/white-box.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:  7em;
    height:  2em;
    display:flex;
    align-items: center;
    justify-content: center;
}


.section4 {
    background-color: white;
    width:  100vw;
}

.section4_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section4_bar { 
    height: 5em;
    background-color: #cdad7d;
    display:flex;
    align-items: center;
    justify-content: center;  
}

.section4_bar h2 { 
    color: white;
    font-weight: bold;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
    margin-bottom: 0px !important;
}

.section5 {
    background-color: #f4f1ec;
    width:  100vw;
    display: flex;
    flex-direction: column;
    justify-content : center;
}

.section5_bar { 
    background-color: #5d4630;
    height: 5em;
    padding-left: 5em;
    display:flex;
    align-items: center;
    justify-content: left;  
}

.section5_clients_row {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.section5_clients_cell {
    flex-grow: 2;
}

.section5_bar h2 { 
    color:white;
    font-weight: bold;
    text-shadow: 0em 0.0375em 0.159375em rgba(0, 0, 0, 0.325000);
}


.section5_clientes {
    display: inline-flex;
    justify-content: top;
    
}

.section5_clientes div {
    color: #5d4630;
    font-size: 0.95rem;
    line-height: 1.3em;
    padding: 1em 0.82rem 1em;
}

.section5_clientes div p{
    font-weight: 800;
}

.section6 {
    background-color: #a68a80;
    color: #fcf5eb;
    width:  100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6_text{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.box_link {
    border: 2px #fcf5eb solid;
    box-sizing: border-box;
    border-color: #fcf5eb;
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.section6 a {
    color: #fcf5eb;
    font-weight: 600;
}

.section_contact {
    background-image: url("img/section_contact.png");
    width:  100vw;
    height: 34em;
    background-color: #5d4630;
    background-size: cover;
    background-position: center;
    display: grid;
}

.section_contact_bar { 
    background-color: #5d463099;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    align-self: center;
}

.section_contact_bar p img {
    padding-right: 0.5em;
}

.section_contact_bar p a {
    color: white;
}

.section_visibility {
    color:#fcf5eb;
    background-color: #cdad7d;
    padding: 0em 0em 2em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
}
